@font-face {
    font-family: Athelas;
    src: url(fonts/Athelas-Bold.ttf);
}

@font-face {
    font-family: AvenirNext;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    font-family: Athelas;
}


.header .bg-img{
    position: absolute;
    width: 100%;
}

.header .bg-wave{
    position: absolute;
    width: 100%;
    margin-top: 502px;
}

.header .navbar{
    padding-top: 32px;
    padding-left: 52px;
}

.header .navbar-nav{
    margin-left: 43px;
}

.header .nav-item{
    margin-right: 14px;
}

.header .nav-link{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header .dropdown-item{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header .dropdown-menu{
    background: transparent;
    border: none;
}

.header .login-link{
    background: transparent;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #3e52ce;
    text-decoration-line: none;
    padding: 5px 25px;
    margin-left: 520px;
}

.header .login-link span{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #3e52ce;
    
}

.header .text-box{
    z-index: 1;
    width: 49%;
    margin-top: 200px;
    margin-right: 80px;
}

.header .text-box h2{
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header .edu-bg-img{
    position: absolute;
    margin-top: -68px;
    z-index: -1;
    margin-left: -22px;
}

.header .text-box p{
    opacity: 0.5;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin: 20px 0px 20px 0px;
 }

.header .apply{
    background-color: #3e52ce;
    border-radius: 50px;
    text-align: center;
    text-decoration-line: none;
    padding: 12px 30px;
    margin-right: 20px;
}

.header .apply span{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: white;
    
}

.header .cards{
    margin-top: 75px;
    margin-right: -85px;
}

.header .card{
    width: 75%;
    padding: 28px 50px 12px 45px;
    overflow: hidden;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
}

.header .card-img{
    width: 30%;
    margin-top: -27px;
    margin-left: 269px;
    position: absolute;
}

.header .card-text{
    width: 88%;
    margin-left: -15px;
}

.header .card-title{
    font-family: Athelas;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header .card-psg{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.header .card-link{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #3e52ce;
    text-decoration-line: underline;
}

/* section statics */

.statics{
    margin-top: 70px;
}

.statics .statics-title{
    font-family: Athelas;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-align: center;
}

.statics .rectangle{
    border-radius: 65px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    width: 77%;
    margin: 35px 160px 80px 160px;
}



.statics .statics-num{
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.statics .ver-line{
    color: #dededd;
    border: 1px solid;
    width: 0px;
    margin: 20px;
}

.statics .number{
    font-family: AvenirNext;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.04;
    letter-spacing: normal;
    text-align: center;
    color: #a3ceff;
}

.statics .number-text{
    font-family: AvenirNext;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #aaaaaa;
}

/* section-payment */

.payment .container{
    border-radius: 28px;
    background-color: #eff6ff;
    display: flex;
    margin-bottom: 100px;
}

.payment .text-box-1{
    width: 34%;
    margin: 80px 30px 60px 40px;
}

.payment .title-1{
    font-family: Athelas;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: relative;
    z-index: 1;
}

.payment .gq-bg-img{
    position: absolute;
    z-index: 0;
    margin-top: -55px;
    margin-left: 178px;
}

.payment .text-box-1 p{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #676767;
    margin-top: 20px;
}

.payment .text-box-1 span{
    font-family: AvenirNext;
    font-weight: bold;
    color: #000000;
}

.payment .text-box-2{
    background-color: white;
    margin-top: 63px;
    position: absolute;
    margin-left: 450px;
    padding: 20px 0px 50px 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.payment .title-2{
    font-family: Athelas;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.payment .text-box-2 h5{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border: 1px solid;
    background-color: #d34141;
    text-align: center;
    margin-right: 82px;
    padding: 5px 10px 5px 10px;
}

.payment .check-list{
    margin-left: 10px;
}

.payment .check-list-item{
    margin-left: 10px;
    margin-top: 3px;
}

.payment .check-list-item{
    font-family: AvenirNext;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #dd2e44;
}

.payment .check-list-item span{
    font-family: AvenirNext;
    color: #3e52ce;
    font-size: 13px;

}


.payment .cross-img{
    object-fit: contain;
}

.payment .text-box-3{
    margin-top: 63px;
    position: absolute;
    margin-left: 800px;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    background-color: white;
}

.payment .title-3{
    font-family: Athelas;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.payment .text-box-2 span{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #3e52ce;
    margin-top: 20px;
    font-size: 13px;
}

.payment .text-box-3 h5{
    border: 1px solid;
    background-color: #3ec381;
    text-align: center;
    margin-right: 82px;
    padding: 5px 10px 5px 10px;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.payment .apply-1{
    border-radius: 50px;
    text-align: center;
    text-decoration-line: none;
    padding: 8px 30px;
    margin-right: 20px;
    background-color: #3e52ce;
}

.payment .apply-1 span{
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

/* section-enrollment */

.enrollment{
    margin-top: 250px;

}

.enrollment .text{
    margin-right: 105px;
}

.enrollment .text h2{
    font-family: Athelas;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.enrollment .text p{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #676767;
}


.enrollment .tab {
    float: right;
    width: 30%;
    margin-right: 60px;
  }

  .enrollment .tab-container{
    position: absolute;
    margin-bottom: 150px;
  }
  
.enrollment  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}

  
.enrollment  .tab button.active {
    background-image: url(img/tab-active-img.svg);
    background-repeat: no-repeat;
}
  
.enrollment  .tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
}

.enrollment .tablinks span{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #ddd;
    text-transform: uppercase;
}

.enrollment .tablinks span:active {
    color: #3e52ce;
}

.enrollment .tablinks h5{
    font-family: AvenirNext;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    color: #000000;
}

.enrollment .tablinks .dot{
    border: 3px solid;
    color: #ddd;
    width: 25px;
    height: 25px;
    border-radius: 60%;
    margin-top: 10px;
    margin-right: 10px;
}

.enrollment .tablinks .dot:active{
    color: #3e52ce;
}

.enrollment .circle-1{
    margin: 75px 238px;
    position: absolute;
}

.enrollment .circle-2{
    margin: 25px 190px;
}

.enrollment  .screen-bg{
    width: 37%;
    height: 680px;
    position: absolute;
    margin-left: 280px;
    margin-top: -660px;
    background-color: white;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}

.enrollment .screenshot{
    position: absolute;
    margin: -623px 300px;
}

.enrollment .screen-btn{
    position: absolute;
    margin: -30px 410px;
    width: 50px;
    height: 15px;
    background-color: white;
    border-radius: 50px;
    padding: 12px 38px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.enrollment .circle-group{
    margin-left: 640px;
    margin-top: -112px;
}

.enrollment .circle-group-1{
    margin-top: -90px;
    margin-left: 190px;
}

.enrollment .apply-2{
    border: 2px solid #3e52ce;
    border-radius: 50px;
    text-align: center;
    text-decoration-line: none;
    padding: 8px 30px;
    margin-right: 20px;
    color: #fff;
}

.enrollment .apply-2 span{
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #3e52ce;
}

.enrollment .apply-2:hover{
    background-color: #3e52ce;
    
}

.enrollment .apply-2 span:hover{
    color: #fff;
}

/* section-membership */

.membership{
    margin-top: 980px;
    background: linear-gradient(131deg, #f1ab2fbd, #7ce4eb);
    padding-top: 100px;
    padding-bottom: 280px;
}

.membership .member-text{
    text-align: center;
}

.membership .title{
    font-family: Athelas;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.membership .gq-bg{
    position: absolute;
    margin-top: -60px;
    z-index: -1;
    margin-left: -218px;
}

.membership .pasg{
    opacity: 0.75;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    width: 50%;
    margin: 0 auto;
}

.membership .about-gq{
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    background-color: #3e52ce;
    display: block;
    border-radius: 50px;
    text-align: center;
    text-decoration-line: none;
    padding: 8px 30px;
    width: 20%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

.membership .about-gq:hover{
    background-color: #2037be;
}

.membership .limited{
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #5f679b;
    text-align: center;
}

.membership .slick-slider{
    margin-bottom: 50px;
    margin-top: 50px;
}

.membership .slick-items{
    width: 44%;
    margin-left: 410px;
    margin-top: -10px;
    position: absolute;
}

.membership .slick-prev{
    display: none;
}

.membership .slick-next{
    display: none;
}

.membership .slick-item{
    border-radius: 24px;
    margin-top: 20px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);

}

.membership .slick-dots{
    display: flex;
    position: absolute;
    margin-left: 565px;
    margin-top: -200px;
    flex-direction: column;
}

.membership .slick-dots li{
    width: 20px;
    font-size: 0;
    margin-bottom: 10px;
    text-align: center;
}

.membership .slick-dots button{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    color: #fff;
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #3e52ce
}

/* testimonial */

.testimonial{
    margin-top: 200px;
    margin-bottom: 100px;
}

.testimonial .testimonial-text{
    text-align: center;
}

.testimonial .title{
    font-family: Athelas;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #000000;
}

.testimonial .sub-title{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #676767;
}

.testimonial .testimonial-tab{
    margin-top: 50px;
}

.testimonial .nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: none;
    width: 60%;
    margin: 0 auto;
}

.testimonial .nav-item{
    border: none;
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #838383;
}

.testimonial .nav-item.active{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3e52ce;
    border-bottom: 3px solid;
}

.testimonial .nav-item:hover{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #3e52ce;
    border-bottom: 3px solid;
}

.testimonial .tab-content{
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
}

.testimonial .tab-pane{
    background-color: #ffd74e;
    border-radius: 24px;
    padding-bottom: 75px;
}

.testimonial .qoute{
    width: 5%;
    margin: 0 auto;
    margin-top: 50px;

}

.testimonial .text{
    text-align: center;
}

.testimonial .bg-wave{
    position: absolute;
    width: 14%;
    margin-top: -256px;
}

.testimonial .profile-bg{
    position: absolute;
    margin-left: 500px;
    margin-top: 66px;
    z-index: -1;
}

.testimonial .profile{
    width: 19%;
    display: flex;
    margin-top: 75px;
    margin-left: 531px;
}

.testimonial .profile-pic{
    border-radius: 50%;
    margin-right: 25px;
}

.testimonial .name{
    margin-top: 10px;
}

.testimonial .place{
    position: absolute;
    margin-top: 45px;
    margin-left: 100px;
}


.testimonial .slick-dots{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-left: 624px;
    margin-top: 45px;
}

.testimonial .slick-dots li{
    width: 20px;
    font-size: 0;
}

.testimonial .slick-dots button{
    height: 12px;
    width: 12px;
    border-radius: 100%;
    color: #dddddd;
    border: none;
}

.slick-dots li.slick-active button {
    background-color: #fff
}

/* media */

.media{
    margin-bottom: 100px;
    display: block;
}

.media .title{
    margin-left: 45px;
    margin-bottom: 75px;
    font-family: Athelas;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  
}

.media .baner{
    border-radius: 60px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.media .baner-item{
    object-fit: contain;
}

/* institute */


.institute{
    margin-bottom: 75px;
    display: flex;
    justify-content: space-evenly;
}

.institute .text{
    width: 29%;
}

.institute .institute-bg{
    position: absolute;
    margin-left: -15px;
    z-index: -1;
    margin-top: 45px;
}

.institute .title{
    font-family: Athelas;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.institute .sub-title{
    font-family: AvenirNext;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #676767;
}

.institute .list{
    width: 90%;
    margin-bottom: 30px;
}

.institute .list-items{
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.institute .check{
    margin-right: 15px;
}

.institute .learn {
    margin-right: 20px;
    text-decoration-line: none;
}

.institute .learn span{
    border-radius: 60px;
    border: 2px solid #3e52ce;
    background-color: #3e52ce;
    padding: 7px 30px;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.institute .learn span:hover{
    background-color: #2037be;
}

.institute .contact{
    text-decoration-line: none;
}

.institute .contact span{
    border-radius: 60px;
    border: 2px solid #3e52ce;
    background-color: #fff;
    padding: 7px 30px;
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #3e52ce;
}

.institute .partner{
    font-family: Athelas;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    margin-top: 50px;
}

.institute .partner-baner{
    border-radius: 60px;
    width: 125%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.institute .partner-item{
    object-fit: contain;
}

.institute .institute-img{
    margin-top: 65px;
}